.competences {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.competences > .content {
  display: flex;
}

.developpement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.developpement > li {
  flex-basis: 25%;
  height: 25%;
}

.langues {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 3vw;
}

.software {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.software > li {
  flex-basis: 50%;
  height: 50%;
}
