.education {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.education > ul {
  list-style: none;
}

.education li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.education .left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 13vw;
  margin-left: 8vw;
  margin-bottom: 3em;
}

.education .right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.education .annee {
  font-size: 1.3em;
}

.education .lieu {
  font-size: 0.9em;
}

.education .titre {
  font-size: 1.3em;
  font-weight: bold;
}

.education .detail {
  font-size: 1em;
}

.education .etablissement {
  font-size: 0.8em;
  font-style: italic;
}
