.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.experience > ul {
  list-style: none;
}

.experience > ul > li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  margin-bottom: 3em;
}

.experience .left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 13vw;
  margin-left: 8vw;
}

.experience .right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.experience .annee {
  font-size: 1.3em;
}

.experience .lieu {
  font-size: 0.9em;
}

.experience .entreprise {
  font-size: 1.3em;
  font-weight: bold;
}

.experience .poste {
  font-size: 1.2em;
}

.experience .detail {
  font-size: 1em;
}

.experience .detail > li {
  margin-top: 0.2em;
}
