header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: #3aaee8;
}

.presentation {
  display: flex;
  margin-right: 5em;
  flex-direction: row-reverse;
  align-items: center;
  width: 40vw;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}

.contact > .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#photo-cv {
  border-radius: 50%;
  padding-right: 1em;
  height: 100%;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 4em;
  word-spacing: 50vw;
  text-align: left;
}
