body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo > img {
  width: 75vw;
}

section {
  width: 45vw;
}

section > h2 {
  font-size: 3em;
  margin-bottom: 0.2em;
  text-align: center;
}

.img-section {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 1.2em;
}
